img {
  max-height: 400px;
}
/* body { */
/*   background-color: black; */
/*   color: white; */
/* } */
input[type='text'] {
  background-color: #222;
  color: yellow;
}
b {
  color: red;
}
li.tag {
  padding: 2px;
}
